.first_div{
    padding-left: 20px;
    padding-right: 20px;
}

.primary{
    background-color: #a5daf3;
    
}

.passenger_detail{
    background-color: yellow;
}

.container{
    width: 100%;
    height: 300px;
    background-color:#a5daf3 ;
    padding: auto;
}
.msg{
   
    width:250px;
    height: auto;
    background-color:gold;
}
.footer {
    width: 100%;
    height: 50px;
    display: block;
  }
  .button {
    background-color: #04AA6D;
    border:0rcap;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    margin: 4px 2px;
  }