table {
    width: auto; 
    height: auto;/* Adjust width as needed */
    border: 1px solid whitesmoke;
   
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #dad5d5;
  }
  .table-container { 
    max-height: 400px; /* Adjust the max-height value as needed */
    overflow-y: auto; /* Add a scrollbar to the table container itself if necessary */
}
  .select-seat-button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }