/* BusSearch.css */
.bus-search-container {
    background-color: #a5daf3;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    width: 80%;
    margin-left: 175px;
    border-radius: 25px;
    
    
  }

  .bus-search-form {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .input-field input
  {
    font-size: 20px;
  }
  
  .icon {
      margin-right: 5px;
      font-size: 1.2em; /* Slightly larger icon */
  }
  
  .input-field label {
      font-size: 20px;
  }
  
  .input-field input {
      border: none;
      outline: none;
      font-size: 16px;
      white-space: pre-wrap; /* For multiline text */
  }
  .input-group
  {
    margin-right: 15px;
  }

  .swap-icon {
      display: flex;
      align-items: center;
      margin-right: 20px;
      font-size: 1.2em;
  }
  
  .search-button {
    background-color: #a5daf3;
    color: black;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 200px;
    align-items: center;
  }
  
  /* Responsive adjustments (Example) */
  @media (max-width: 100px) { /* Adjust breakpoint as needed */
    .bus-search-form {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: stretch; /* Stretch items to full width */
    }
  
    .input-group, .swap-icon {
      margin: 10px 0; 
      width: 100%; 
    }
    .input-field input {
      width: 100%;
      box-sizing: border-box; 
    }
  }