.custom-navbar {
    background-color: #a5daf3; /* Replace with your desired color */
    height: 90px;
    margin-bottom: 20px;
    margin-top: 20px;
   /* width: 100%; Set the width to 90% */
    border-radius: 8px; /* Optional: Add rounded corners */
   
  }