/* OperatorHome.css */

.operator-home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
}

.logo-container { 
    display: flex;
    justify-content: left; 
    width: 100%; 
}

.logo {
    width: 200px;
    margin-top: 0%;
}
.linkes
{
    text-align: right;
    padding-left: 50%;

}
.tr
{
    text-align: right;

}
.td
{
    padding-left: 10px;
}
.table
{
    text-align: right;
}


