.iconDiv {
    display: flex;
    width: 100px;
    height: 60px;
    margin-left: 17%;
    margin-top: 25px;
  }
  .firstDiv {
    /* border: 1px solid red; */
    width: 70%;
    height: 150px;
    margin: 0 auto;
    /* padding-bottom: 30px; */
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .goBack {
    display: flex;
    margin-left: 25px;
  }
  .Payment__stripe {
    /* border: 1px solid red; */
    /* margin-top: 50px; */
    margin-left: -680px;
  }
  .Payment__stripe button {
    /* width: 100%; */
    border: none;
    outline: none;
  }
  .Payment_stripe_button {
    width: 218px;
    height: 59px;
    color: #ffffff;
    background-color: #00b9f5;
    margin: 20px 0px 0px;
    padding: 15px 9px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #00b9f5;
    border-radius: 10px;
    cursor: pointer;
  }
  .Payment_stripe_button:hover {
    background-color: #00b9c0;
  }