.cont {
  box-sizing: border-box;
  width: 100%;
  /* border: 1px solid black; */
  text-align: left;
}

.seatSelection {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.selectseatCont {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.seatFormCont {
  /* border: 1px solid red; */
}

.seatForm {
  display: inline-grid;
  width: 80%;
  padding: 20px;
  border: 1px solid #e3e6e6;
}

.formCont {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.spacing {
  margin-bottom: 10px;
}
