.seatsCont {
  padding: 10px;
  border: 1px solid #979797;
  /* border-radius: 5px; */
  max-width: 420px;
  min-height: 130px;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  /* z-index: -2; */
}

.singleCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  position: relative;
  bottom: -50px;
  left: 70px;
  width: fit-content;
  /* border: 1px solid red; */
}

.sharedCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px;
  position: relative;
  position: relative;
  top: 10px;
  left: 70px;
  width: fit-content;
  /* border: 1px solid blue; */
}

.driver {
  display: flex;
  justify-content: space-between;
  width: 100px;
  position: absolute;
  left: -10px;
  bottom: 68px;
  transform: rotate(-90deg);
}
