.container {
    text-align: center;
    padding: 20px;
    background-color: #a5daf3;
    margin-top: 20px;
    border-radius: 20px;
    border-radius: 20px;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .features {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .download-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .qr-code {
    text-align: center;
    margin-right: 30px;
  }
  
  .store-buttons {
    display: flex;
  }
  
  .store-buttons a {
    text-decoration: none;
    margin: 0 15px;
  }
  
  .store-buttons img {
    width: 150px;
  }
  
  .ratings {
    display: flex;
    justify-content: center;
  }
  
  .rating {
    text-align: center;
    margin: 0 20px;
  }
